<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.community.dao.CommunityMapper">  
  	<select id="selectRowCount" parameterType="map"
  	                    resultType="integer">


		SELECT
		  COUNT(*)
		FROM community b JOIN member m
		ON b.mem_num = m.mem_num
		WHERE b.c_category = #{c_category}
		<if test="keyword != null and keyword != ''">
			<if test="keyfield == 1">
				AND b.c_title LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyfield == 2">
				AND m.id LIKE '%' || #{keyword} || '%' 
			</if>
			<if test="keyfield == 3">
				AND b.c_content LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyfield == 4">
				AND (b.c_title LIKE '%' || #{keyword} || '%' OR
				b.c_content LIKE '%' || #{keyword} || '%')
			</if>
		</if>
</select>


	<select id="selectList" parameterType="map" resultType="communityVO">
		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		              b.c_num,
  		              <![CDATA[
  		              REPLACE(REPLACE(b.c_title,'<','&lt;'),'>','&gt;') c_title,
  		              ]]>
					  b.c_category,
					  b.c_content,
					  b.c_hit,
					  b.filename,
					  b.c_auth,
					  com_cnt,
					  like_cnt,
					  b.reg_date,
					  b.reg_date2,
					  b.modify_date,
					  m.id					  
		            FROM community b JOIN member m
		            ON b.mem_num = m.mem_num 
					WHERE b.c_category = #{c_category}
				
					<if test="keyword != null and keyword != ''">
						<if test="keyfield == 1">
							AND b.c_title LIKE '%' || #{keyword} || '%'
						</if>
						<if test="keyfield == 2">
							AND m.id LIKE '%' || #{keyword} || '%' 
						</if>
						<if test="keyfield == 3">
							AND b.c_content LIKE '%' || #{keyword} || '%'
						</if>
						<if test="keyfield == 4">
							AND (b.c_title LIKE '%' || #{keyword} || '%' OR
							b.c_content LIKE '%' || #{keyword} || '%')
						</if>
					</if>
					ORDER BY b.c_num DESC)a)
		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>
	</select>
	
<!-- 글수정 -->
  	<update id="updateCommunity" parameterType="communityVO">
  		UPDATE community SET
  		    <if test="filename != ''">
  		    uploadfile=#{uploadfile},
  		    filename=#{filename},
  		    </if>
  			c_title=#{c_title},
  			c_auth=#{c_auth},
  			c_content=#{c_content},
  		    c_category=#{c_category},
  		    modify_date=SYSDATE
  		WHERE c_num=#{c_num}
  	</update>
  	
  	<!-- 댓글 목록 -->
  	<select id="selectListComment" parameterType="map"
  	                    resultType="communityCommentVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		              com_num,
  		              <![CDATA[
  		              REPLACE(REPLACE(com_content,'<','&lt;'),'>','&gt;') com_content,
  		              ]]>
  		              reg_date,
  		              modify_date,
  		              c_num,
  		              mem_num,
  		              id
  		            FROM c_comment
  		            JOIN member USING(mem_num)
  		            WHERE c_num = #{c_num}
  		            ORDER BY com_num DESC)a)
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>
  	</select>
  	
  
  	
  	
  	
</mapper>