<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.cart.dao.CartMapper">  
	<resultMap type="cartVO" id="cartMap">
		<result property="productVO.p_name" column="p_name"/>
		<result property="productVO.p_status" column="p_status"/>
		<result property="productVO.p_price" column="p_price"/>
		<result property="productVO.p_dprice" column="p_dprice"/>
		<result property="productVO.p_quantity" column="p_quantity"/>
		<result property="productVO.p_category" column="p_category"/>
		<result property="productVO.p_photo" column="p_photo"/>
		<result property="productVO.p_photoname" column="p_photoname"/>
		<result property="productVO.p_brand" column="p_brand"/>
	</resultMap>
	
  	<select id="selectList" parameterType="integer" resultMap="cartMap">
  		SELECT
             cart_num,
             mem_num,
             order_quantity,
             p_num,
             p_name,
             p_price,
             p_quantity,
             p_dprice,
             p_category,
             p_photo,
             p_photoname,
             p_brand,
             p_status,
             <if test="(order_quantity * p_price) gte 30000">
             order_quantity * p_price cart_total
             </if>
             <if test="(order_quantity * p_price) lt 30000">
             (order_quantity * p_price)+ p_dprice cart_total
             </if>
           FROM cart JOIN product 
           USING(p_num) 
           WHERE mem_num=#{mem_num}
           ORDER BY cart_num ASC
  	</select>
  	<select id="selectRowCount" parameterType="map"
  	                    resultType="integer">
		SELECT
		  COUNT(*)
		FROM cart c JOIN product p
		ON c.p_num = p.p_num 
		WHERE c.mem_num = #{mem_num}
		GROUP BY c.mem_num
  	</select>
</mapper>