<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.cart.dao.WishMapper">  
  	<select id="selectRowCount" parameterType="map"
  	                    resultType="integer">
		SELECT
		  COUNT(*)
		FROM wish w JOIN product p
		ON w.p_num = p.p_num
		<where>
			<if test="category == all">
				p.p_category = 1 OR p.p_category = 2 OR p.p_category = 3
			</if>
			<if test="category == fassion">
				p.p_category = 1
			</if>
			<if test="category == beauty">
				p.p_category = 2
			</if>
			<if test="category == living">
				p.p_category = 3
			</if>
		</where>
  	</select>
  	
  	<select id="selectList" parameterType="map"
  	                         resultType="WishVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		              w.w_num,
  		              p.p_name,
  		              p.p_price,
  		              p.p_quantity,
  		              p.p_dprice,
  		              p_category,
  		              p_photo,
  		              p_photoname,
  		              p_brand
  		            FROM wish w JOIN product p
  		            ON w.p_num = p.p_num
  		           <where>
						
							<if test="category == 0">
								p.p_category = 1 OR p.p_category = 2 OR p.p_category = 3 
							</if>
							<if test="category == 1">
								p.p_category = 1
							</if>
							<if test="category == 2">
								p.p_category = 2
							</if>
							<if test="category == 3">
								p.p_category = 3
							</if>
						
					</where>
  		            ORDER BY w.w_num DESC)a)
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>
  	</select>
  	
</mapper>