<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.cart.dao.WishMapper"> 
		<resultMap type="wishVO" id="wishMap">
		<result property="productVO.p_name" column="p_name"/>
		<result property="productVO.p_status" column="p_status"/>
		<result property="productVO.p_price" column="p_price"/>
		<result property="productVO.p_dprice" column="p_dprice"/>
		<result property="productVO.p_quantity" column="p_quantity"/>
		<result property="productVO.p_category" column="p_category"/>
		<result property="productVO.p_photo" column="p_photo"/>
		<result property="productVO.p_photoname" column="p_photoname"/>
		<result property="productVO.p_brand" column="p_brand"/>
	</resultMap>
	 
  	<select id="selectRowCount" parameterType="integer" resultMap="wishMap">
		SELECT
		  COUNT(*)
		FROM wish w JOIN product p
		ON w.p_num = p.p_num AND w.mem_num=#{mem_num}
		<where>
			<if test="category == 0">
				p.p_category = 1 OR p.p_category = 2 OR p.p_category = 3
			</if>
			<if test="category == 1">
				p.p_category = 1
			</if>
			<if test="category == 2">
				p.p_category = 2
			</if>
			<if test="category == 3">
				p.p_category = 3
			</if>
		</where>
  	</select>
  	
  	<select id="selectList" parameterType="integer" resultMap="wishMap">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		              w.w_num,
  		              w.mem_num,
  		              p.p_name,
  		              p.p_price,
  		              p.p_quantity,
  		              p.p_dprice,
  		              p_category,
  		              p_photo,
  		              p_photoname,
  		              p_brand
  		            FROM wish w JOIN product p
  		            ON w.p_num = p.p_num AND w.mem_num=#{mem_num}
  		           <where>
						
							<if test="category == 0">
								p.p_category = 1 OR p.p_category = 2 OR p.p_category = 3 
							</if>
							<if test="category == 1">
								p.p_category = 1
							</if>
							<if test="category == 2">
								p.p_category = 2
							</if>
							<if test="category == 3">
								p.p_category = 3
							</if>
						
					</where>
  		            ORDER BY w.w_num DESC)a)
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>
  	</select>
  	
</mapper>