@charset "UTF-8";

/* [관리자]바디-부트스트랩 */
body{
	margin:0 auto;
	background:#f4f9f2;
}

/* [관리자]서브 메뉴 */
.sub-menu{
 	float:left; 
 	width: 675px;
 	height: 100%;
 	position: fixed;
 	background-color:#fafafa;
	margin-top:-10px;
}

.sub-detail{
	float: right;
	width: 370px;
 	height: 100%;
 	margin: 0 auto;
 	background-color:white;
	box-shadow: 2px 2px 7px lightgray;
}

.sub-detail p{
	margin:5px;
	font-size:13pt;
	color:gray;
}

.image-user {
	width: 150px;
	text-align: center;
	margin: 30% 29% 10% auto;
}

.image-user img{
	/* margin-left: -20%;
	margin-bottom: 2%; */
	width: 150px;
	height: 150px;
}

.image-user p{
	color: gray;
	font-weight: bold;
	font-size: 20px;	
}

.submenu-title {
	width: 170px;
	margin: 0 auto;
	text-align: center;
}

.subtitle-box{
	margin: 0 0 15% auto;
	text-align: left;
}

.subtitle-box h2{
	font-size: 20px;
	font-weight: bold;
	margin: 0 auto;
}

.subtitle-box p{
	margin-left: 20%;
}


/*-------- 회원관리 --------*/
.main-content{
	display: block;
	justify-content:center;
	align-items:center;
	width: 60%;
    padding-left: 35%;
}

/* 서브 타이틀 */
.sub-title{
	padding: 8% 12.5% 2%;
	font-size:12pt;
}

.sub_1{
	color: #829488;
	font-size: 24px;
	font-weight: bold;
}

.sub_2{
	margin: 0 auto;
	font-size:15px;
}

/* 검색바 */
.search{
	text-align: left;
	font-size: 15px;
	padding: 2px 12.5%;
}

select{
	width: 85px;
	height: 35px;
	color: #5E5E5E;
	font-size: 15px;
	border: 2px solid #BDBDBD;
	border-radius: 4px;
}

input[type=search]{
	font-size: 15px;
	width: 180px;
	height: 35px;
	border: 2px solid #BDBDBD;
	border-radius: 4px;
}

input[type=submit], input[type=button]{
	width: 60px;
	height: 35px;
	color: white;
	border: none;
	font-size: 15px;
	font-weight: bold;
	border-radius: 4px;
	background-color:#5E5E5E;
}

input[type=submit]:hover, input[type=button]:hover{
	background-color: #8C8C8C;
}

/* 검색결과 */
.search-result{
	color: white;
	width: 400px;
	height: 100px;
	padding-top: 7%;
	margin-top: 15%;
	margin-left: 30%;
	text-align: center;
	background-color: #829488;
	border-radius: 5px;
	font-size: 15px;
}

/* 회원 리스트 */
.content-list{
	padding: 0 auto;
	margin-left: 35px;
}

.content-list table{
	width: 900px;
	margin: 0 auto;
	text-align: center;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
    border-collapse: collapse;
}

.content-list tr:hover{
	background-color: #C8D7C4;
    cursor: pointer;
}

.content-list th{
	height: 40px;
	font-size: 18px;
	color: white;
	font-weight: bold;
	background-color: #829488;
	border-bottom: 1px solid gray;
}

.content-list td {
	height:40px;
	font-size: 14px;
	border-bottom: 1px solid gray;
}

.page-num{
	margin: 5px auto;
	text-align: center;
	font-size: 15px;
}


/* 회원상세 */
.mem-data table{
	margin: auto;
	width: 900px;
	text-align: center;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
    border-collapse: collapse;
}

.mem-data th{
	height: 40px;
	font-size: 18px;	
	font-weight: bold;
	color: white;
	background-color: #829488;
	border-bottom: 1px solid white;
}

.mem-data td {
	height:40px;
	font-size: 15px;
	border-bottom: 1px solid gray;
}

.action-btn {
	text-align: right;
	margin: 10px auto;
	padding-top: 3%;
	padding-right: 9%;
}

/*-------- 상품관리 --------*/
/* 전체 상품 리스트 */
.action-btn-2{
	text-align: right;
	margin-top: -40px;
	margin-bottom: 5px;
	padding-right: 9.5%;
}

/* 상품등록 */
.p_photo{
	width: 200px;
	height: 150px;
	border: 1px solid #829488;
}

#pwrite_form, #pmodify_form{
	padding: 0 auto;
	margin-top: -7%;
	margin-left: 35%;
	width: 900px;
}

.product{
	display: flex;
	margin-bottom: 5%;
}

.product-image {
	text-align: center;
}

.product-image #upload {
	margin: 2px 0 auto;
	padding-left: 10%;
}

.product-detail table{
	width: 650px;
	border-top: 3px solid #829488;
	border-bottom: 3px solid #829488;
}

.product-detail th{
	width: 120px;
	height: 35px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	background-color: #829488;
	border-bottom: 1px solid white;
}

.product-detail td{
	padding: 2px;
	height: 35px;
	text-align: center;
	border-bottom: 1px solid white;
}

.product-detail select{
	width: 100%;
	color: #5D5D5D;
	text-align: center;
	font-weight: bold;
	border: 1px solid #BDBDBD;
}

.product-detail input[type=text]{
	color: #5D5D5D;
	font-size: 15px;
	width: 100%;
	height: 35px;
	text-align: center;	
	font-weight: bold;
	border: 1px solid #BDBDBD;
	border-radius: 4px;
}

.product-detail input[type=radio] {
	display:none;
}

.product-detail input[type=radio]+label {
    width: 45%;
    height: 35px;
    color: gray;
    font-size:13px;
	font-weight:bold;
    cursor: pointer;
    line-height: 33px;
    text-align: center;
    background-color: lightgray;
    border-radius: 4px;
	display: inline-block;
	margin: 0 2px auto;
}

.product-detail input[type=radio]:hover+label {
	 background-color: #C8D7C4;
}

.product-detail input[type=radio]:checked+label {
	color: white;
	background-color: #829488;
}

.product-detail textarea{
	resize: none;
	width: 100%;
	height: 100px;
	border: 1px solid #BDBDBD;
	margin-top: 2px;
	border-radius: 4px;
}

.action-btn-3 {
	text-align: right;
}

.action-btn-3 button {
	width: 60px;
	height: 35px;
	color: white;
	border: none;
	font-size: 15px;
	font-weight: bold;
	border-radius: 4px;
	background-color:#5E5E5E;
	margin: 0 0 3px auto;
}

.action-btn-3 button:hover {
	background-color: #8C8C8C;
}