@charset "UTF-8";

body{
	margin:0 auto;
	background:#ffffff;
}

/* [관리자]헤더 */
.admin-header{
	background:#f4f9f2;
	left: 0; 
	top: 0; 
	position:absolute;
	z-index: 999;
	width:100%;
	height:65px;
}

#header_center{
	font-size:15pt;
	font-weight: bold;
	margin: -35px 0px;
}

#header_center a{
	color: gray;
	margin: 100px;
	width:100px;
	height:50px;
}

/* [관리자]서브 메뉴 */
.sub-menu{
 	width:35%;
 	background-color:#fafafa;
 	float:left; 
	margin-top:-10px;
}

.sub-detail{
	width:40%;
	float:right;
 	height: 785px;
 	background-color:white;
	box-shadow: 2px 2px 7px lightgray; 
	border:1px solid white; 
	margin-top:-4px;
	padding-left: 100px;
}