
/* 커뮤니티 목록 페이지*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap');

.page-main {
	margin: auto;
	width: 70%;
}


.align-center h2 {
	margin: 130px 0px 80px 0px;
	font-size: 20pt;
}

.dp-btn{
	text-align:right;
	float:right;
}
.dropdown {
	position: relative;
	display: inline-block;
	
}

.dropdown-menu {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-menu a {
	color: black;
	padding: 10px;
	display: block;
}

.dropdown-menu a:hover {
	background-color: rgb(232, 242, 217);
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-item {
	font-size: 12px;
	text-align: left;
	background-color: white;
}

.community-list-header{
	padding-bottom: 20px;
	width:95%;
}
.community-category-ul {
	float: left;
	padding-left: 80px;
}

.community-category-ul li {
	display: inline;
	font-size: 13pt;
	font-weight: bold;
	margin: 0px 20px;
}

.tip1 a:hover, .tip2 a:hover, .tip3 a:hover {
	font-weight: bold;
	font-size: 12pt;
	color:rgb(22, 160, 133);
	text-decoration-thickness: 6px !important;
	text-decoration: underline rgba(110, 131, 118, 0.85); 
	text-underline-position:under;
}

#keyfield, #keyword{
	height:25px;
}

#search_form {
	width: 45%;
	height:100px;
	margin-right:30px;
	border: none;
	float: right;
	text-align: right;
}

.search li {
	display: inline;
}

#writeBtn {
	background-color: rgba(110, 131, 118, 0.85);
	color: white;
	width: 70px;
	height: 30px;
	border: none;
}


#searchBtn, .dropbtn, #update_btn, #delete_btn, #list_btn, #submit_btn, #submit-btn, #co-mod-submit-btn, #co-mod-list-btn {
	background-color: rgba(110, 131, 118, 0.85);
	color: white;
	width: 50px;
	height: 30px;
	border: none;
}

.submit-co-div{
	margin-left:625px;
}
.commulist-list{
	
    position: relative;
    padding: 13px 0 18px;
}
#commu-photo{
	text-align:right;
	display:block;
}



.cate-detail{
    text-align: right;
    padding-top:30px;
}
.co-content-detail{
	padding: 0px 30px 0px 30px;
	margin: 0px 80px 80px auto;
	background-color: white;
	width: 80%;
	height: auto;
	
}
/*목록 제목*/
.co-title{
	padding: 0px 30px 10px 30px;
	font-size:16px;

	}
.co-content{
padding: 60px 30px 30px 30px;

}

.like-comment{
	padding-left:30px;
	padding-bottom:20px;
}
.detail-info{
	float: right;
}
#com-date {
	color: rgb(51, 51, 51);
	float: right;
}

textarea#com-content{
	width: 800px;
    position: relative;
    left: -100px;
    margin-right:200px;
}



/*공지버튼*/
#notice_btn {
	background-color: rgba(110, 131, 118, 0.85);
	color: white;
	width: 70px;
	height: 30px;
	border: none;
}

.page-main-co{
	width: 65%;
	margin: auto;
}

/*댓글 수정, 삭제버튼*/
.delete-btn, .modify-btn, #sub-btn-1{
	background-color: rgb(193, 193, 193);
	color: white;
	width: 50px;
	height: 30px;
	border: none;
}

.outputs {
	margin-top:20px;
	padding:20px;
	background-color: rgb(244, 244, 244);
	
}

.page-right{
	float:right;
}
.item {
	background-color: none;
}

#com_form{
	 position: relative;
	 text-align:center;
	 margin-bottom:30px;
	 margin-top:30px;
}
#com_form, #mcom_form{
	border: none;
	
}

#com_first{
	margin-right:650px;
}

/* 커뮤니티 목록 내용*/
.content {
	padding: 50px;
	margin: 60px auto;
	background-color: white;
	width: 80%;
	height: auto;
}

.co-list-title{
	display:flex;
	font-size:12pt;
	margin:25px 0px 15px 10px;
	font-weight: bold;
}


.write-padding{
	padding-bottom:10px;
	margin-bottom:20px;
}
.write-cate{
	height :25px;
	width: 120px;
	
}
/*글쓰기페이지 제목 입력란*/
#c_title {
	width:97%;
	height :25px;
}

.notice-icon {
	font-weight: bold;
	font-size: 12pt;
	border: 7px solid #7c8f83;
	background-color: #7c8f83;
	color: white;
	text-decoration: none;
	margin-left: 10px;
}

.notice-margin {
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 7px;
}

.notice-font {
	font-size: 13pt;
	font-weight: bold;
	color: rgba(110, 131, 118, 0.85);

}

.hlc{
	color: rgba(110, 131, 118, 0.85)
}

.co-td{
	width:100px;
}

/*친환경 소식 폼*/
.row {
	margin-bottom: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.co-mod-tb{
	width:1000px;
}
.co-mod-btn{
	text-align:right;
	
}

/*글쓰기*/
#register_form, #update_form{
	border:none;
	width:1000px;
	padding:50px;
	font-size: 11pt;
}