
/* 커뮤니티 목록 페이지*/
.page-main{
	margin: 0 auto;
	width:70%;
}
.align-center h2{
	margin:130px 0px 80px 0px;
	font-size:20pt;
}
.community-category-ul{
	width:40%;
    float:left;
    padding-left:80px;
}
.community-category-ul li{
	display:inline;
	font-size: 13pt;
	font-weight:bold;
    margin: 0px 20px;
}
#search_form{
	width:45%;
    margin: 0 auto;
    border: none;
    float:left;
    text-align:right;
}
.search li{
    display:inline;
}
#writeBtn{
	background-color:darkgreen;
	color:white;
	width:70px;
	height:30px;
	border:none;
}
.tip1 a:hover, .tip2 a:hover, .tip3 a:hover{
	font-weight:bold;
	font-size:12pt;
	border: 7px solid #7c8f83;
	background-color:#7c8f83;
    color: white;
    text-decoration:none;
}

/* 커뮤니티 목록 내용*/
.content{
	padding: 50px;
	margin: 50px auto;
	background-color:white;
	width:90%;
	height:auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-menu {display: block;}

.dropdown-item{
	font-size: 12px;
}
#c_title{
	width:300px;
}
.commu-photo{ 
	 display: flex;
  justify-content: space-between;
}

.notice-icon{
	font-weight:bold;
	font-size:12pt;
	border: 4px solid #7c8f83;
	background-color:#7c8f83;
    color: white;
    text-decoration:none;
    margin-left:50px;
}
.row{
	margin-bottom: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}


