/*=========레이아웃=========*/
body{
	margin:0 auto;
	background:#f4f9f2;
	
}
div#main{
	width:100%;
	margin:0 auto;
	font-size:10pt;
	font-family: "맑은 고딕";
}
#main_header{
	background:white;
	left: 0; 
	top: 0; 
	position:absolute;
	z-index: 999;
	width:100%;
	height:65px;
}
#main_header.fixed{
	width:100%;
	position:fixed;
	top:0;
	transition:0.2s;
}
div#main_body{
	min-height:775px;
	margin-top: 70px;
}
div#main_footer{
	background-color:rgba(110, 131, 118, 0.85);
	height:83px;
	color:white;
	
	position: relative;
    bottom: 0;
    width: 100%;
}
.main_logo{
	width: 180px;
    height: 160px;
	margin:-55px 80px;
}

/*=========헤더=======*/
#header_center{
	font-size:15pt;
	margin: -40px 0px;
}
#header_center a{
	margin: 100px;
	width:100px;
	height:50px;
}
#header_right{
	font-size:10pt;
    margin: 20px;
}
.login{
	width:35px;
	height:35px;
	margin: -10px 100px 0px 0px;
}
.logout, .home, .cart, .wish{
	width:35px;
	height:35px;
	margin:-5px 10px;
}
.wish{
	margin-right:50px;
}

/*=========메뉴바=======*/
#header-menu{
	display: none;
    position: absolute;
	top:65px;
    width: 100%;
    height: 200px;
    border-top: 1px solid #e0e0e0;
    background: url(/images/leaf.png) repeat-y 80px #f3f3f3;
    background-size:200px;
    border-bottom: 1px solid #e8e8e8;
    z-index: 999;
}
/* #main_header:hover #menu {
  	display:block;
	transform-origin: 100% 0%;
	-webkit-animation: fadeIn 0.5s ease-in-out;
	animation: fadeIn 0.5s ease-in-out;
} */
.intro2 {
	height:150px;
	float:left;
	margin:50px 0px 50px 500px;
}
.product2{
 	width:150px;
	height:150px;
	float:left;
	margin: 30px 120px 0px 0px;
 }
.community2{
	width:150px;
	height:150px;
	float:left;
	margin:50px 0px;
 }
a#eco4u, a#store, a#fashion, a#beauty, a#living, a#communication, a#QnA   {
	font-size:15pt;
	font-weight:lighter;
}
/*----------*/

/*==========메시지======*/
.result-display{
	width:400px;
	height:200px;
	margin:50px auto;/*상하 좌우*/
	border:1px solid #000;/*테두리*/
	display: flex;/*하위 요소를 수직으로 쌓을 수 있는 공간을 만듬*/
  	align-items: center;/*세로 정렬*/
  	justify-content: center;/*가로 정렬*/
}
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
.error-color{
	color:#ff0000;
}
/*메인*/
a:link{
	text-decoration:none;
	color:#000000;
}
a:visited{
	text-decoration:none;
	color:#000000;
}
a:hover{
	text-decoration:underline;
	color:#999999;
}
a.logout:hover, a.home:hover, a.cart:hover, a.wish:hover{
	text-decoration:none;
}

.image-space .horizontal-area{
	margin:2px;
	padding:3px;
	width:180px;
	height:220px;
	float:left;
	overflow:hidden;
}
.image-space .horizontal-area img{
	width:175px;
	height:175px;
}
.image-space .horizontal-area span{
	padding:5px;
	margin:5px;
}
.image-space .float-clear{
	clear:both;
}

.image-cine .horizontal-area{
	margin:2px;
	padding:3px;
	width:180px;
	height:370px;
	float:left;
	overflow:hidden;
}
.image-cine .horizontal-area img{
	width:175px;
	height:250px;
}
.image-cine .horizontal-area span{
	padding:5px;
	margin:5px;
}
.image-cine .float-clear{
	clear:both;
}

/*Mypage*/
.mypage-div{
	width:48%;
	float:left;
	padding:5px;
}
.mypage-end{
	clear:both;
}
.my-photo{
	object-fit: cover;
    object-position: top; /*정사각형이 아니라 직사각형일 경우 원 안에 보여지게 할 중심 이미지의 위치를 지정*/
    border-radius: 50%;/*사각형의 모서리 둥근 정도를 지정하는 속성인데 50%를 지정하면 완전한 원이 됨*/
}

/*목록*/
/*글 상세*/

/*등록,수정폼*/
.page-main form{
	width:450px;
	margin:0 auto;
	/*border:1px solid #000;*/
	padding:10px 10px 10px 30px;
}
/*CKEditor 사용시 등록,수정폼*/
.page-main form#register_form, .page-main form#update_form{
	width:700px;
}
.page-main ul{
	list-style:none;
}
.page-main label{
	width:130px;
	float:left;
}
.page-main input[type="text"],.page-main input[type="password"],.page-main input[type="email"]{
	width:200px;
}
.page-main #register_form input[id="id"]{
	width:113px;
}
.page-main input[id="zipcode"]{
	width:95px;
}
.page-main .form-notice{
	margin-left:130px;
}

.page-main ul.paging-button{
	overflow:hidden;
}
.page-main li.paging-num{
	float:left;
	list-style:none;
	padding:10px;
	cursor:pointer;
}
.page-main li.paging-current{
	float:left;
	list-style:none;
	padding:10px;
}

/*CKEditor 사용시 등록,수정폼*/
.page-main form#register_form, .page-main form#update_form{
	width:700px;
}
.page-main ul{
	list-style:none;
}
.page-main label{
	width:130px;
	float:left;
}
.page-main input[type="text"],.page-main input[type="password"],.page-main input[type="email"]{
	width:200px;
}
.page-main #register_form input[id="id"]{
	width:113px;
}
.page-main input[id="zipcode"]{
	width:95px;
}
.page-main .form-notice{
	margin-left:130px;
}

.page-main ul.paging-button{
	overflow:hidden;
}
.page-main li.paging-num{
	float:left;
	list-style:none;
	padding:10px;
	cursor:pointer;
}
.page-main li.paging-current{
	float:left;
	list-style:none;
	padding:10px;
}

.footer1{
	margin-left:50px;
	margin-top: 20px;
	font-size:11pt;
	width:50%;
	float:left;
}
.footer2{
	font-size:12pt;
	margin-right:20px;
	margin-top: 30px;
	width:45%;
	float:left;
}
/* 챗봇 */
.chatbot{
	margin: -110px 50px 0px 0px;
	float:right;
}
#chatbot{
	width:64px;
	height:64px;
}