@charset "UTF-8";

#section1 {
	position: relative;
	margin-top:-10px;
	height:930px;
    background-color: white;
}
#section2 {
	position: relative;
	height:930px;
    background-color: ivory;
    padding-top:20px;
}
#section3 {
	position: relative;
	height: 785px;
    background-color: ivory;
}

/*메인 이동 ul*/
#menu_full {
    position: absolute;
    top: 45%;
    z-index: 70;
    right: 20px;
    transform: translateY(-50%);
}
#menu_full.fixed{
	width:100%;
	position:fixed;
	top:45%;
	text-align:right;
	right: 20px;
    transform: translateY(-50%);
}
#menu_full li{
	display:block;

	list-style:none;
	margin:20px;
}
#menu_full li a{
	color: black;
	font-weight: 500;
	font-size:15pt;
}
/*메인 첫번째 화면*/
.carousel-inner{
	top:-9px;
}

ul.carousel-indicators{
	bottom: 200px;
}
.cs-12{
	position: relative;
    width: 100%;
}
/*메인 두번째 화면*/
#section2 h2{
	margin:10px auto;
}
body{
	overflow-x:hidden;
	overflow-y:hidden;
}
.row{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width:88%;
	padding-left:280px;
}
.p_name{
	font-size: 13px;
	font-weight: bold;
}

.price{
	font-size: 13px;
	margin:100px 0;
}

