/*메인*/
.page-main{
	margin: 0 auto;
	min-height: 1000px;
	width: 70%;
}
/*상단 헤더*/
.header{
	width: 100%;
	height: 100px;
	padding-top: 20px;
}
.header-left{
	width: 70%;
	height: 70px;
	padding-left:110px;
	font-size: 30px;
	font-weight:bold;
	float: left;
}
.header-right{
	width: 20%;
	height: 50px;
	padding-top: 20px;
	font-size: 15px;
	float: left;
}
/*헤더 제외 메인*/
.order-main{
	width: 100%;
	height: 880px;
}
/*배송지, 결제 수단*/
.order-main-left{
	width: 53%;
	height: 880px;
	padding-left: 6%;
	float:left;
}
/*결제 리스트*/
.order-main-list{
	width: 33%;
	height: 830px;
	margin-right: 6%;
	float:right;
	box-shadow: 2px 2px 7px gray; 
	border:1px solid white; 
	border-radius:10px; 
	background-color:white; 
}
.list-content{
	width: 90%;
	height: 790px;
	margin-left: 5%;
	margin-top: 20px;
	border:1px solid black;
}
/*배송지*/
.order-zipcode{
	width: 90%;
	height: 300px;
	margin-bottom: 30px;
	box-shadow: 2px 2px 7px gray; 
	border:1px solid white; 
	border-radius:10px; 
	background-color:white; 
}
.order-zipcode-content{
	width: 90%;
	height: 240px;
	margin-left: 5%;
	margin-top: 40px;
}
.zip-content1{
	width:70%;
	height:50px;
	font-size: 25px;
	font-weight: bold;
	color: red;
	float:left;
}
.zip-content2{
	width:30%;
	height:50px;
	float:left;
}
#zipcodebtn{
	width: 75%;
	height:35px;
	padding: 9px;
	color: white;
	background-color: gray;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	cursor:pointer;
	float:right;
}
.zip-content3{
	width:100%;
	height:190px;
	padding-top:20px;
	clear:both;
	font-size: 20px;
}
/*결제수단*/
.order-kind{
	width: 90%;
	height: 500px;
	box-shadow: 2px 2px 7px gray; 
	border:1px solid white; 
	border-radius:10px; 
	background-color:white; 
}
.order-kind-content{
	width: 90%;
	height: 460px;
	margin-left: 5%;
	margin-top: 20px;
	border:1px solid black;
}
/*배송지 변경 팝업*/
.pop_wrap{
	position:fixed; 
	top:0; 
	left:0; 
	right:0; 
	bottom:0; 
	background:rgba(0,0,0,.5); 
	font-size:0; 
	text-align:center;
	display:none;
}
.pop_wrap:after{
	display:inline-block; 
	height:100%; 
	vertical-align:middle; 
	content:'';
}
.pop_wrap .pop_inner{
	display:inline-block; 
	padding:30px 30px;
	width:40%;
	height:60%; 
	background:#fff;  
	vertical-align:middle; 
	font-size:15px;
}
.pop_content{
	width: 100%;
	height: 90%;
	border:1px solid black;
	border-radius: 5px;
	text-align:left;
}
.pop_content1{
	width: 75%;
	height: 18%;
	padding-left:2%;
	text-align:left;
	float:left;
}
.pop_content2{
	width: 23%;
	height: 18%;
	text-align:center;
	float:left;
}
/*버튼*/
.btn_close{
	color:white;
	font-size: 15px;
	background-color: gray;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 2px;
	border: none;
	border-radius: 5px;
	width: 20%;
	height: 7%;
	font-weight: bold;
	cursor:pointer;
}
.btn_close:hover{
	filter: brightness(95%);
}
#btn-modify{
	color:white;
	font-size: 15px;
	background-color: gray;
	margin-bottom: 5px;
	padding: 2px;
	border: none;
	border-radius: 5px;
	width: 80%;
	height: 35%;
	font-weight: bold;
	cursor:pointer;
}#btn-modify:hover{
	filter: brightness(95%);
}
#btn-check{
	color:white;
	font-size: 15px;
	background-color: gray;
	margin-bottom: 5px;
	padding: 2px;
	border: none;
	border-radius: 5px;
	width: 80%;
	height: 35%;
	font-weight: bold;
	cursor:pointer;
}#btn-check:hover{
	filter: brightness(95%);
}
#btn-add{
	color:white;
	font-size: 15px;
	background-color: gray;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 2px;
	border: none;
	border-radius: 5px;
	width: 20%;
	height: 7%;
	font-weight: bold;
	cursor:pointer;
}#btn-add:hover{
	filter: brightness(95%);
}