
.orderList{
	padding-top:30px; 
	margin-left:100px;
	width:45%;
	float:left; 
	font-family: 'Noto Sans KR', sans-serif;
}

.page-content{
	margin-left:100px;
	
}

.page-main table{
	width:100%;
	margin:5px auto;
	border:1px solid #000;
	border-collapse:collapse;
	font-size:12pt;
}
.page-main table td, .page-main table th{
	border:1px solid #000;
	padding:5px;
}
#search_form{
	width:100%;
}
ul.search{
	 display: flex;
    margin: 30px;
    float: right;
}
ul.search li{
    margin:0px 5px;
}
.order-status{
	margin:50px 150px;
	font-size:12pt;
}
.order-status label{
	font-size:15pt;
	margin-bottom:20px;
	
}
.order-status input{
	font-size:14pt;
	margin-top:20px;
	
}

#order_modify input[type=submit], input[type=button]{
	width: 80px;
	height: 35px;
	color: white;
	border: none;
	font-size: 15px;
	font-weight: bold;
	border-radius: 4px;
	background-color:#5E5E5E;
}

#order_modify input[type=submit]:hover, input[type=button]:hover{
	background-color: #8C8C8C;
}