
body{
	overflow-x:hidden;
	overflow-y:auto;
}

.carousel-inner{
	top:-9px;
}

ul.carousel-indicators{
	bottom: 20px;
}

.row{
	margin-bottom: 50px;
}

input[type="button"]{
	background-color: transparent;
	border: 0;
	margin-right: 23px;
}
ul{
	margin:0;
	padding:0;
}
ul#category{
	display:flex;
}

hr.bhr{
	margin-bottom: 80px;
}

.category{
	float:left;
}

.order{
	position:relative;
	left:790px;
}

.p_name{
	font-size: 14px;
	font-weight: bold;
}

.price{
	font-size: 12px;
	margin:100px 0;
}

.dropdown-item{
	font-size: 12px;
}

.page{
	margin-bottom:70px;
}

