
body{
	overflow-x:hidden;
	overflow-y:auto;
	font-family: 'Noto Sans KR', sans-serif;
}

.carousel-inner{
	top:-9px;
}

ul.carousel-indicators{
	bottom: 20px;
}

.row{
	margin-bottom: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

input[type="button"]{
	background-color: transparent;
	border: 0;
	margin-right: 23px;
	font-family: 'Noto Sans KR', sans-serif;
}

input[type="button"]:active, input[type="button"]:visited, input[type="button"]:hover{
	font-weight: bold;
}

ul{
	margin:0;
	padding:0;
}
ul#category{
	display:flex;
}

hr.bhr{
	margin-bottom: 80px;
}

.category{
	float:left;
}

.order{
	position:relative;
	left:780px;
}

.p_name{
	font-size: 14px;
	font-weight: bold;
	font-family: 'Noto Sans KR', sans-serif;
}

.price{
	font-size: 12px;
	margin:100px 0;
	font-family: 'Noto Sans KR', sans-serif;
}

a.dropdown-toggle {
    font-family: 'Noto Sans KR', sans-serif;
}
.dropdown-item{
	font-size: 12px;
	font-family: 'Noto Sans KR', sans-serif;
}

.page{
	margin-bottom:70px;
}

