#wrapper{
	width: 900px;
	margin: 100px auto auto 450px;
}

/*상품 헤더*/
.detail-thumbnail{
	float: left;
	padding: 0 0 0 20px;
}

form#product_cart{
	padding: 0 0 0 70px;
}

.thumbnail-side{
	margin-left: 450px;
}

.wishlist{
	position: relative;
	left: 400px;
	bottom: 40px;
	font-family: 'Noto Sans KR', sans-serif;
}

div#detail-div{
	margin: 10px 0;
	font-family: 'Noto Sans KR', sans-serif;
}

hr.hr{
	margin: 30px 0;
}

span.title{
	font-size: 25px;
	font-weight: bold;
	font-family: 'Noto Sans KR', sans-serif;
}
span.price{
	font-size: 20px;
	font-weight: 600;
	font-family: 'Noto Sans KR', sans-serif;
}

label.text{
	font-weight: 600;
	font-family: 'Noto Sans KR', sans-serif;
}
label.count{
	width: 330px;
	font-family: 'Noto Sans KR', sans-serif;
}

input.numBox{
	width: 30px;
    background-color: transparent;
    border: 0;
    text-align: center;
    font-weight: bold;
    padding-left: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}
button.minus{
	background-color: transparent;
    border-radius: 10px;
    border-width: thin;
    border-color: #839589;
    padding: 2px 8px;
    font-family: 'Noto Sans KR', sans-serif;
}
button.plus{
	background-color: transparent;
    border-radius: 10px;
    border-width: thin;
    border-color: #839589;
    padding: 2px 8px;
    font-family: 'Noto Sans KR', sans-serif;
}

.button{
	width: 222px;
	height: 40px;
	border: 0px;
	background-color: #839589;
	color: white;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Noto Sans KR', sans-serif;
}

/*본문*/
.cont-image img{
	height: auto;
	max-width: 112%;
}

.product-category{
	margin:60px 0;
	width:1000px;
	border:2px solid #797979;
	 border-collapse: collapse;
	text-align:center;
	font-family: 'Noto Sans KR', sans-serif;
}
.product-category td{
	border: 1px solid #839589;
    font-size: 10pt;
    background-color: #fcfffb;
    color: #37403a;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}
td#detail{
	width: 50%;
}

/*리뷰*/
div#target2{
	position: relative;
    left: 40px;
    margin-bottom: 100px;
    font-family: 'Noto Sans KR', sans-serif;
}
div#review_div {
    position: relative;
    left: 20px;
}
textarea#r_content{
	width: 800px;
    position: relative;
    left: -200px;
    font-family: 'Noto Sans KR', sans-serif;
}
textarea#mr_content{
	width: 800px;
    position: relative;
    left: -200px;
    font-family: 'Noto Sans KR', sans-serif;
}
input.r_submit {
    width: 40px;
    height: 30px;
    border: 0px;
    background-color: #839589;
    color: white;
    font-size: 14px;
    position: relative;
    left: 155px;
    bottom: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}
div#mr_second{
	position: relative;
    left: 155px;
    bottom: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}
/*
span.re-letter-count {
    position: relative;
    left: 450px;
    top: 13px;
    font-family: 'Noto Sans KR', sans-serif;
}
*/
span.letter-count{
	position: relative;
    left: -200px;
    /*top: 13px;*/
    font-family: 'Noto Sans KR', sans-serif;
}
span.re-name{
	position: relative;
    left: 35px;
    font-family: 'Noto Sans KR', sans-serif;
}
span.modify-date{
	position: relative;
    left: 830px;
    bottom: 68px;
    font-family: 'Noto Sans KR', sans-serif;
}
input.delete-btn {
    position: relative;
    left: 745px;
    font-family: 'Noto Sans KR', sans-serif;
    width: 40px;
    height: 30px;
    border: 0px;
    background-color: #839589;
    color: white;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}
input.modify-btn {
    position: relative;
    left: 745px;
    font-family: 'Noto Sans KR', sans-serif;
    width: 40px;
    height: 30px;
    border: 0px;
    background-color: #839589;
    color: white;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}
input.re-modify{
    font-family: 'Noto Sans KR', sans-serif;
    width: 40px;
    height: 30px;
    border: 0px;
    background-color: #839589;
    color: white;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}
input.re-reset{
    font-family: 'Noto Sans KR', sans-serif;
    width: 40px;
    height: 30px;
    border: 0px;
    background-color: #839589;
    color: white;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

/*
.detail, .review{
	clear:both;
	display:block;
	margin-top:50px;
}
*/