@charset "UTF-8";
/* 가게 목록 페이지*/
.page-main{
	margin:0 350px;	
}
.page-main1{
	width:70%;
	padding-left:450px;	
}
.page-main2{
	margin: 0 300px;
	min-height: 1100px;
}
h1{
	padding-top:60px;
}
h2{
	margin: 30px 180px;
}
p{
	font-size:14pt;
}
.store{
	float:left;
	margin: 0px 60px 50px 0px; 
}
.page span{
	clear:both;
	display:block;
	padding-right:300px;
}
#register{
	margin:0px 320px 50px 0px;
}
/* 가게 등록 페이지*/
#photo_reset{
	margin-left:-70px;
}
/* 가게 상세 페이지*/
.store-content{
	float:left;
	position:absolute;
	margin-left:550px;
	width:650px;
	height:400px;
	background:white;
	border-radius:10px;
	box-shadow: 5px 5px  10px #eee;
}
.store-content h2{
	margin:10px 0px 20px 10px;
}
.store-content span{
	font-size:12pt;
	margin:0px 0px 20px 10px;
}
#storeListBtn{
	color:white;
	font-size: 14px;
	background-color: #999;
	padding: 9px;
	margin-top: -10px;
	border: none;
	border-radius: 5px;
	width: 9%;
	height:40px;
	cursor:pointer;
	margin-right:30px;
}
#delete_btn{
	margin-left:10px;
}
/* eco4u 소개 페이지*/
.eco4u_intro{
	width:800px;
	height:300px;
	margin: 100px 0px 0px 450px;
    
}
.eco4u_intro span{
	font-size: 13pt;
}
#ecofriendly{
	width:300px;
	height:300px;
	float:left;
	margin:0px 50px;
}
.eco4u-category{
	margin-top:30px;
	width:1300px;
	border-collapse: collapse;
	text-align:center;
}
.eco4u-category td{
	font-size:12pt;
	background:white;
	width: 25%;
    padding: 10px;
    border-right: 0.5px solid gray;
    color:#7f8d82;
}
.p-div{
	font-size:15pt;
	font-weight:700;
	margin: 0;
	padding-bottom:5px;
}
td#vegan {
    border: none;
}
.zero, .up, .fair, .vegan{
	clear:both;
	display:block;
	margin-top:50px;
}
.zero span,.up span,.fair span,.vegan span{
	font-size: 13pt;
	width: 800px;
	margin:50px 100px;
	position:absolute;
}
img#zerowaste, img#upcycle, img#fairtrade, img#vegan{
	width:400px;
	height:400px;
	float:left;
}