.page-main {
    margin:0 auto;
    width: 65%;
}
.content-main{
	background-color:white;
	width:800px;
	height: 100px;
    margin-bottom: 10px;
}
.page-main form {
    border: #000;
    margin: 0;
    padding: 0px 0px 30px 0px;
}
form.wish-form{
	width: 100%;
}
.wish-title-h2 , .wish-title-span{
    float: left;
}
span.wish-title-span {
    margin: 24px 5px;
}

/*[찜]상품 카테고리 */
.wish-category{
    height: 30px;
     margin:0 auto;
     clear:both;
}
.wish-category-ul li{
    float: left;
    width: 215px;
    padding: 5px 0;
    border: 1px solid gray;
    text-align:center;
}
.wish-category-ul {
    list-style: none;
    padding: 0;
    width: 900px;
}
.wish-top {
    margin:0 auto;
    padding-top: 50px;
    width: 70%;
}
.wish-choice {
    margin: 20px auto;
    font-size:11pt;
    width: 70%;
    clear:both;
}
.wish-category-ul input[type="button"]{
	border: none;
    background: none;
    color: darkolivegreen;
    font-weight: 600;
    cursor:pointer;
}
input#delete_btn {
    border: 0.5px solid #ced8cf;
    background: white;
    border-radius: 2px;
    color: black;
}
/*찜한 상품 없음*/
.no-wish {
    margin: 200px;
    text-align: center;
    font-size: 1.2em;
}
/* 찜 목록 */
.wish-list-ul{
	list-style: none;
    padding-left: 0;
}
.wish-list-li{
	width: 70%;
    margin: 0 auto;
    border-top: 1px solid gray;
}
.box-parent {
    display: flex;
    width:fit-content;
    height: 100px;
}
.wish-check, .product-image {
    width: fit-content;
    flex: 1;
    padding-right: 10px;
}
.product-image > img {
    margin: 10px 0px;
}
.product-box {
    width: 500px;
    margin-top: 2px;
    padding: 15px 30px 0px 15px;
}
.box-notice {
    color: gray;
    font-size: 9pt;
}
.pb-span {
    margin-bottom: 5px;
}
/*브랜드명 & 상품명 있는 div*/
.box-brand {
    float: left;
    margin-right: 5px;
}
.box-title {
    float: left;
}
.box-price {
    clear: both;
}

/* 장바구니/삭제 버튼 */
.product-button {
    margin: 20px;
}
#addCart_btn {
    margin-bottom: 3px;
}

.wishButton {
    background: none;
    border: 1px solid;
    width: 100px;
    padding: 3px;
    cursor: pointer;
}

