/*faqList 페이지*/
body{
	background:#f4f9f2;
}
.faq_main{
	margin: 45px 315px 90px 315px;
}
.faqh2{
	margin-top: 135px;
	margin-bottom: 3px;
	font-weight: bold;
}
.faq_main_qna02{
	margin: 0 200px;
}
#faq_main_qna figcaption{
	margin-top:5px;
	margin-right:6px;
	font-size:12px;
	font-weight:bold;
}
#faq_main_img02{
	width: 50px;
	height: 50px;
	cursor:pointer;
}
#faq_main_img01{
	margin-right: 15px;
	margin-bottom: 5px;
	width: 38px;
	height: 38px;
	cursor:pointer;
}
.faq-form-inline{
	font-size:15px;
}
#faq_btn01{
	margin-right:5px;
	margin-bottom:5px;
	width:52px;
	height:28px;
	background-color: #7c8f83;
	color:white;
	border: none;
	border-radius: 13px;
	font-size: 13px;
	cursor:pointer;
}
.faq_btn_group{
	margin-right:10px;
}
.faq_btn_group input[type="button"]{
	margin: 0 3px 10px 0;
	width:38px;
	height:20px;
	background-color: #7c8f83;
	color:white;
	border: none;
	border-radius: 10px;
	font-size:11px;
}
#title_btn01{
	background:#f4f9f2; 
	border-bottom:1px solid #7c8f83;
	font-size:14px;
	font-weight: bold;
}
#title_btn02{
	text-align:center;
	width:40px;
	height: 15px;
	margin:0 45px 0 30px;
	border: 1px solid green;
	border-radius: 20px;
	color: green;
	font-size:10px;
}
.accordion-body{
	margin:0 100px 0 116px;
}
/*end faqList.jsp*/

/*category*/
.faq-category-ul{
	list-style: none;
	padding-left:0px;
}
/* .faqbtn00{
	font-weight:bold;
	border: 7px solid #7c8f83;
	background-color:#7c8f83;
	color:white;
} */
.faqbtn00, .faqbtn01, .faqbtn02, .faqbtn03{
	font-weight:bold;
	border: 7px solid #f4f9f2;
	background-color:#f4f9f2;
	font-size:14px;
}
.faqbtn00:hover, .faqbtn01:hover, .faqbtn02:hover, .faqbtn03:hover{
	font-weight:bold;
	font-size:14px;
	border: 7px solid #7c8f83;
	background-color:#7c8f83;
    color: white;
}
/*category*/

/*faqWrite.jsp*/
.faq_write_main{
	margin: 120px 0 0 35%;
}
.faq_write_main h2{
	margin-bottom:20px;
}
.f_title_li{
	list-style: none;
	padding-left:0px;
}
.faq_write_hr{
	background:#7c8f83;
    height:1px;
    border:0;
}
#f_category{
	margin-right:17px;
	width: 115px;
	height: 26px;
	border-radius: 10px;
	text-align:center;
}
.f_title_li input[type="text"]{
	margin-top: 40px;
	width: 462px;
	height: 28px;
	border-color:lightgray;
	border-radius: 10px;
}
.f_title_li textarea{
	margin-top: 30px;
	width: 600px;
	height: 200px;
	border-color:lightgray;
	border-radius: 7px;
}
.f_title_li input[type="text"]::placeholder, textarea::placeholder{
	color: #d5d4d4;
}
#faq_write_btn01{
	margin: 42px 250px 0;
}
#faq_write_btn01 button,#faq_write_btn01 input[type="button"]{
	margin-right:15px;
	width:45px;
	height:23px;
	background-color: #7c8f83;
	color:white;
	border: none;
	border-radius: 10px;
	font-weight:bold;
}
/*end faqWrite.jsp*/